<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rgp.primerproyecto">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimerProyecto"
        tools:targetApi="31">
        <activity
            android:name=".ejercicio_dos.AnimalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.fragments.FragmentManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.fragments.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.layouts.TabsActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.layouts.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.layouts.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicio_final.PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicio_final.ConfirmPersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.layouts.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.layouts.FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.ExplicitActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.ExplicitDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios_clase.ImplicitActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicio_dos.AnimalsManagerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ejercicios_clase.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>